<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,89}</string>
                <key>spriteSourceSize</key>
                <string>{76,89}</string>
                <key>textureRect</key>
                <string>{{339,143},{76,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,89}</string>
                <key>spriteSourceSize</key>
                <string>{76,89}</string>
                <key>textureRect</key>
                <string>{{570,143},{76,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,89}</string>
                <key>spriteSourceSize</key>
                <string>{76,89}</string>
                <key>textureRect</key>
                <string>{{647,143},{76,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,89}</string>
                <key>spriteSourceSize</key>
                <string>{76,89}</string>
                <key>textureRect</key>
                <string>{{493,143},{76,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>block5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,89}</string>
                <key>spriteSourceSize</key>
                <string>{76,89}</string>
                <key>textureRect</key>
                <string>{{416,143},{76,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boxBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,88}</string>
                <key>spriteSourceSize</key>
                <string>{76,88}</string>
                <key>textureRect</key>
                <string>{{262,143},{76,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,38}</string>
                <key>spriteSourceSize</key>
                <string>{400,38}</string>
                <key>textureRect</key>
                <string>{{103,1},{400,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{660,63}</string>
                <key>spriteSourceSize</key>
                <string>{660,63}</string>
                <key>textureRect</key>
                <string>{{1087,1},{660,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,63}</string>
                <key>spriteSourceSize</key>
                <string>{250,63}</string>
                <key>textureRect</key>
                <string>{{836,1},{250,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{554,1},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{88,143},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1,143},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,113}</string>
                <key>spriteSourceSize</key>
                <string>{303,113}</string>
                <key>textureRect</key>
                <string>{{1,257},{303,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,392}</string>
                <key>spriteSourceSize</key>
                <string>{750,392}</string>
                <key>textureRect</key>
                <string>{{474,943},{750,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{449,449}</string>
                <key>spriteSourceSize</key>
                <string>{449,449}</string>
                <key>textureRect</key>
                <string>{{1225,943},{449,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,337}</string>
                <key>spriteSourceSize</key>
                <string>{337,337}</string>
                <key>textureRect</key>
                <string>{{1066,575},{337,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,256}</string>
                <key>spriteSourceSize</key>
                <string>{254,256}</string>
                <key>textureRect</key>
                <string>{{811,575},{254,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,67}</string>
                <key>spriteSourceSize</key>
                <string>{151,67}</string>
                <key>textureRect</key>
                <string>{{1083,65},{151,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,67}</string>
                <key>spriteSourceSize</key>
                <string>{151,67}</string>
                <key>textureRect</key>
                <string>{{459,65},{151,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,367}</string>
                <key>spriteSourceSize</key>
                <string>{400,367}</string>
                <key>textureRect</key>
                <string>{{1404,575},{400,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,233}</string>
                <key>spriteSourceSize</key>
                <string>{453,233}</string>
                <key>textureRect</key>
                <string>{{357,575},{453,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,114}</string>
                <key>spriteSourceSize</key>
                <string>{411,114}</string>
                <key>textureRect</key>
                <string>{{669,257},{411,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,62}</string>
                <key>spriteSourceSize</key>
                <string>{44,62}</string>
                <key>textureRect</key>
                <string>{{607,1},{44,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,67}</string>
                <key>spriteSourceSize</key>
                <string>{157,67}</string>
                <key>textureRect</key>
                <string>{{767,65},{157,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,67}</string>
                <key>spriteSourceSize</key>
                <string>{157,67}</string>
                <key>textureRect</key>
                <string>{{925,65},{157,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,172}</string>
                <key>spriteSourceSize</key>
                <string>{35,172}</string>
                <key>textureRect</key>
                <string>{{1083,385},{35,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,180}</string>
                <key>spriteSourceSize</key>
                <string>{42,180}</string>
                <key>textureRect</key>
                <string>{{1119,385},{42,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,63}</string>
                <key>spriteSourceSize</key>
                <string>{183,63}</string>
                <key>textureRect</key>
                <string>{{652,1},{183,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{457,66}</string>
                <key>spriteSourceSize</key>
                <string>{457,66}</string>
                <key>textureRect</key>
                <string>{{1,65},{457,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,373}</string>
                <key>spriteSourceSize</key>
                <string>{472,373}</string>
                <key>textureRect</key>
                <string>{{1,943},{472,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,132}</string>
                <key>spriteSourceSize</key>
                <string>{509,132}</string>
                <key>textureRect</key>
                <string>{{573,385},{509,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,67}</string>
                <key>spriteSourceSize</key>
                <string>{157,67}</string>
                <key>textureRect</key>
                <string>{{1235,65},{157,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,197}</string>
                <key>spriteSourceSize</key>
                <string>{251,197}</string>
                <key>textureRect</key>
                <string>{{1,575},{251,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,40}</string>
                <key>spriteSourceSize</key>
                <string>{49,40}</string>
                <key>textureRect</key>
                <string>{{504,1},{49,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,226}</string>
                <key>spriteSourceSize</key>
                <string>{103,226}</string>
                <key>textureRect</key>
                <string>{{253,575},{103,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{1631,65},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,75}</string>
                <key>spriteSourceSize</key>
                <string>{117,75}</string>
                <key>textureRect</key>
                <string>{{1513,65},{117,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,114}</string>
                <key>spriteSourceSize</key>
                <string>{181,114}</string>
                <key>textureRect</key>
                <string>{{487,257},{181,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,97}</string>
                <key>spriteSourceSize</key>
                <string>{159,97}</string>
                <key>textureRect</key>
                <string>{{724,143},{159,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,112}</string>
                <key>spriteSourceSize</key>
                <string>{210,112}</string>
                <key>textureRect</key>
                <string>{{1084,143},{210,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,35}</string>
                <key>spriteSourceSize</key>
                <string>{46,35}</string>
                <key>textureRect</key>
                <string>{{3,1},{46,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,127}</string>
                <key>spriteSourceSize</key>
                <string>{442,127}</string>
                <key>textureRect</key>
                <string>{{1081,257},{442,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{1709,65},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,73}</string>
                <key>spriteSourceSize</key>
                <string>{119,73}</string>
                <key>textureRect</key>
                <string>{{1393,65},{119,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,114}</string>
                <key>spriteSourceSize</key>
                <string>{181,114}</string>
                <key>textureRect</key>
                <string>{{305,257},{181,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,97}</string>
                <key>spriteSourceSize</key>
                <string>{159,97}</string>
                <key>textureRect</key>
                <string>{{884,143},{159,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,112}</string>
                <key>spriteSourceSize</key>
                <string>{210,112}</string>
                <key>textureRect</key>
                <string>{{1295,143},{210,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,127}</string>
                <key>spriteSourceSize</key>
                <string>{442,127}</string>
                <key>textureRect</key>
                <string>{{1,385},{442,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,113}</string>
                <key>spriteSourceSize</key>
                <string>{209,113}</string>
                <key>textureRect</key>
                <string>{{1506,143},{209,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,101}</string>
                <key>spriteSourceSize</key>
                <string>{39,101}</string>
                <key>textureRect</key>
                <string>{{1044,143},{39,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{444,385},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,35}</string>
                <key>spriteSourceSize</key>
                <string>{52,35}</string>
                <key>textureRect</key>
                <string>{{50,1},{52,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,189}</string>
                <key>spriteSourceSize</key>
                <string>{51,189}</string>
                <key>textureRect</key>
                <string>{{1162,385},{51,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,189}</string>
                <key>spriteSourceSize</key>
                <string>{51,189}</string>
                <key>textureRect</key>
                <string>{{1214,385},{51,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,189}</string>
                <key>spriteSourceSize</key>
                <string>{51,189}</string>
                <key>textureRect</key>
                <string>{{1266,385},{51,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,189}</string>
                <key>spriteSourceSize</key>
                <string>{51,189}</string>
                <key>textureRect</key>
                <string>{{1318,385},{51,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,189}</string>
                <key>spriteSourceSize</key>
                <string>{51,189}</string>
                <key>textureRect</key>
                <string>{{1474,385},{51,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,189}</string>
                <key>spriteSourceSize</key>
                <string>{51,189}</string>
                <key>textureRect</key>
                <string>{{1526,385},{51,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,189}</string>
                <key>spriteSourceSize</key>
                <string>{51,189}</string>
                <key>textureRect</key>
                <string>{{1422,385},{51,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,189}</string>
                <key>spriteSourceSize</key>
                <string>{51,189}</string>
                <key>textureRect</key>
                <string>{{1370,385},{51,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{175,143},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,67}</string>
                <key>spriteSourceSize</key>
                <string>{155,67}</string>
                <key>textureRect</key>
                <string>{{611,65},{155,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wxBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,1}</string>
                <key>spriteSourceSize</key>
                <string>{1,1}</string>
                <key>textureRect</key>
                <string>{{1,1},{1,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>res.png</string>
            <key>size</key>
            <string>{1805,1393}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6fbfa8da94056e011fbf1160986e96c:1017617548a307234fe37a8d9cf2df06:e9a6761e0eaed6cf539663e6dc49fb27$</string>
            <key>textureFileName</key>
            <string>res.png</string>
        </dict>
    </dict>
</plist>
